@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import "tailwindcss";

@layer utilities {
  .font-manrope {
    font-family: "Manrope", sans-serif;
  }
  .hero-background {
    background:
      linear-gradient(
        90deg,
        rgba(0, 32, 70, 1) 0%,
        rgba(0, 32, 70, 0.8) 50%,
        rgba(0, 32, 70, 0) 100%
      ),
      url("../assets/home/backgroundImage.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .about_hero-background {
    background-image: url("../assets//about/aboutHeroBgImg.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .technological_mastery-bg {
    background-image: url("../assets//about/TechnologicalMasteryImg.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
  }
  .bg-compass {
    background-image: url("../assets//about/reach.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
